/** {*/
/*  font-family: 'Avenir';*/
/*}*/
/*.bubbleWrapper {*/
/*  padding: 10px 10px;*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  flex-direction: column;*/
/*  align-self: flex-end;*/
/*  color: #fff;*/
/*}*/
/*.inlineContainer {*/
/*  display: inline-flex;*/
/*}*/
/*.inlineContainer.own {*/
/*  flex-direction: row-reverse;*/
/*}*/
/*.inlineIcon {*/
/*  width:20px;*/
/*  object-fit: contain;*/
/*}*/
/*.ownBubble {*/
/*  min-width: 60px;*/
/*  max-width: 700px;*/
/*  padding: 14px 18px;*/
/*  margin: 6px 8px;*/
/*  background-color: #5b5377;*/
/*  border-radius: 16px 16px 0 16px;*/
/*  border: 1px solid #443f56;*/

/*}*/
/*.otherBubble {*/
/*  min-width: 60px;*/
/*  max-width: 700px;*/
/*  padding: 14px 18px;*/
/*  margin: 6px 8px;*/
/*  background-color: #6C8EA4;*/
/*  border-radius: 16px 16px 16px 0;*/
/*  border: 1px solid #54788e;*/

/*}*/
/*.own {*/
/*  align-self: flex-end;*/
/*}*/
/*.other {*/
/*  align-self: flex-start;*/
/*}*/
/*span.own,*/
/*span.other{*/
/*  font-size: 14px;*/
/*  color: grey;*/
/*}*/


body{margin-top:20px;}

.chat-online {
  color: #34ce57
}

.chat-offline {
  color: #e4606d
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0
}

.chat-message-left {
  margin-right: auto
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.flex-grow-0 {
  flex-grow: 0!important;
}
.border-top {
  border-top: 1px solid #dee2e6!important;
}
