<li>
  <a style="cursor: pointer">
    <div>
      <i class="bi bi-bell-fill"></i>
      <p class="badge rounded-pill badge-notification bg-danger">10</p>
    </div>
  </a>
  <ul>
    <li><a style="cursor: pointer"> 10 new Comments in your book1 </a></li>
    <li><a style="cursor: pointer"> 10 new Comments in your book1 </a></li>
    <li><a style="cursor: pointer"> 10 new Comments in your book1 </a></li>
    <li><a style="cursor: pointer"> 10 new Comments in your book1 </a></li>
    <li><a style="cursor: pointer"> 10 new Comments in your book1 </a></li>
    <li><a style="padding-left: 43%; color: #0F9095 ;cursor: pointer ; font-weight: bold"> next </a></li>

  </ul>
</li>

<li>
  <a style="cursor: pointer">
    <div>
      <i class="bi bi-messenger"></i>
      <p class="badge rounded-pill badge-notification bg-danger">10</p>
    </div>
  </a>
  <ul>
    <li><a href=""> 10 new Messages </a></li>
  </ul>
</li>
