<div id="secondary"  class="four columns entry-details">
  <div id="team-wrapper">
    <div class="column member">

      <img style="cursor: pointer" (click)="modifyProfilePicInit()" src="{{'data:image/jpeg;base64,'+user.imageContentBase64}}" alt=""/>
      <div *ngIf="profilePic && isOwnerProfile" class="form-group">
        <form [formGroup]="modifyImageGroup" *ngIf="modifyImageGroup" (ngSubmit)="modifyProfilePic()">
          <input formControlName="profilePicture" (change)="onFileSelected($event)" type="file" class="form-control-file"
                 [ngClass]="{'is-invalid' : submitted && modifyImageGroup.controls['profilePicture'].errors}">

          <div *ngIf="submitted && modifyImageGroup.controls['profilePicture'].errors" class="invalid-feedback">
            <div *ngIf="modifyImageGroup.controls['profilePicture'].errors"> profile picture is Required</div>
          </div>

          <br> <br>
          <button type="submit">Edit Picture</button>
        </form>
      </div>
      <br> <br>
      <div class="member-name">
        <h4 style="font-weight: bold">{{user.firstname}}  {{user.lastname}}</h4>
        <span>books owner</span>
      </div>

      <br>
      <ul class="member-social">
        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
        <li><a href="#"><i class="bi bi-google"></i></a></li>
        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="#"><i class="bi bi-skype"></i></a></li>
      </ul>

    </div> </div>
  <aside id="sidebar">
    <div class="widget widget_contact">
      <h5>Address and Phone</h5>
      <p class="address">
        <ng-container *ngIf="userAddress">
          <a (click)="onCountry()" style="cursor: pointer" class="lining">Country: </a>{{userAddress.country}}<br> <br>
          <app-user-info-edit-from  *ngIf="country && isOwnerProfile"  [updateFieldType]="updateUserFieldType.UpdateCOUNTRY" [initialValue]="userAddress.country"></app-user-info-edit-from>

          <a style="cursor: pointer" (click)="onCity()" class="lining">City: </a>{{userAddress.city}}<br> <br>
          <app-user-info-edit-from *ngIf="city && isOwnerProfile" [updateFieldType]="updateUserFieldType.UpdateCITY" [initialValue]="userAddress.city"></app-user-info-edit-from>

          <a style="cursor: pointer" class="lining" (click)="onHomeAddress()">HomeAddress: </a>{{userAddress.homeAddress}}<br> <br>
          <app-user-info-edit-from *ngIf="homeAddress && isOwnerProfile" [updateFieldType]="updateUserFieldType.UpdateHOMEADDRESS" [initialValue]="userAddress.homeAddress"></app-user-info-edit-from>

        </ng-container>

        <a (click)="onPhoneNum()" style="cursor: pointer" class="lining" style="cursor: pointer">Phone number: </a><span>{{user.phoneNumber}}</span>
        <app-user-info-edit-from  *ngIf="phoneNum && isOwnerProfile" [updateFieldType]="updateUserFieldType.UpdatePhoneNum" [initialValue]="user.phoneNumber"></app-user-info-edit-from>

      </p>
      <br>
      <h5>Email and Social</h5>
      <p>
        <a class="lining">E-mail: </a> {{user.email}}<br> <br>
        <a class="lining">Twitter:: </a> <a href="#">@</a><br> <br>
        <a class="lining">Facebook:</a> <a href="#"> FB Page</a><br> <br>
      </p>

      <ng-container *ngIf="isOwnerProfile">
        <a (click)="editProfile()" class="button" style="width: 150px">Edit profile</a> <br> <br>
        <a (click)="addBook()" class="button" style="width: 150px">Add Book</a>
      </ng-container>


    </div>
  </aside>
</div> <!-- Secondary End-->
