<div class="py-2 px-4 border-bottom d-none d-lg-block">
  <div class="d-flex align-items-center py-1">
    <div class="position-relative">
      <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
    </div>
    <div class="flex-grow-1 pl-3">
      <strong>mohammed ghailan</strong>
    </div>
    <div>
      <button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
    </div>
  </div>
</div>
