<div class="post-content">


<!--  <p class="lead">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,-->
<!--    nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate-->
<!--    cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a-->
<!--    ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>-->


<!--  <dt><b style="font-weight: bold">getting info this book as json format  </b></dt>-->
<!--  <p> from https://openlibrary.org/search.json?title=title  <a href="#">more info</a> </p>-->

  <dt><b style="font-weight: bold">Summary</b></dt>
  <p> Crime and Punishment follows the mental anguish and moral dilemmas of Rodion Raskolnikov,
    an impoverished ex-student in Saint Petersburg who plans to kill an unscrupulous pawnbroker,
    an old woman who stores money and valuable objects in her fl </p>

<!--  <p class="tags">-->
<!--    <span>Tagged in </span>:-->
<!--    <a href="#">orci</a>, <a href="#">quotes</a>, <a href="#">varius</a>, <a href="#">turpis</a>-->
<!--  </p>-->
</div>
