<ng-container *ngIf="commentReply">
  <li class="depth-3">

    <div class="avatar" style="margin-left: 160px;">
      <img (click)="goToOwnerProfile()" style="cursor: pointer" width="50" height="50" class="avatar" src="{{'data:image/jpeg;base64,'+commentReply.owner.imageContentBase64}}" alt="">
    </div>

    <div class="comment-info">
      <a (click)="goToOwnerProfile()" style="cursor: pointer" class="lining">  {{commentReply.owner.firstname}} {{commentReply.owner.lastname}}</a>
      <div class="comment-meta">
        <time class="comment-time" datetime="2014-01-14T25:15">{{getDate()}} @ {{getHour()}}</time>
      </div>
    </div>

    <div class="comment-text">
      <p>{{commentReply.commentContent}}</p>
    </div>
  </li>

  <br> <br> <br>
</ng-container>


