<div class="bio cf">

  <div class="gravatar">
    <img [src]="'data:image/jpeg;base64,'+owner.imageContentBase64" alt="">
  </div>
  <div class="about">
    <h5><a (click)="goToOwner()" title="Posts by John Doe" style="cursor: pointer" class="lining"  rel="author">{{owner.firstname + " "+owner.lastname}}</a></h5>
    <a class="lining">E-mail: </a> {{owner.email}}<br>
    <a class="lining">Country: </a> {{userAddress.country}}<br>
    <a class="lining">City: </a> {{userAddress.city}}<br>
  </div>

</div>
