
  <div class="item-wrap">
    <a  style="cursor: pointer"  (click)="goToBook()">
      <div class="container" [ngStyle]="{'background-image': 'url(' + 'data:image/jpeg;base64,'+book.imageContentBase64 + ')'}">

      </div>
<!--      <img  alt="" src="{{bookImageUrl}}">-->
      <div class="overlay"></div>
      <div class="link-icon">
        <ng-container *ngIf="book.owner.userId == securityService.profile.id">
          <div>
            <i (click)="deleteBook($event)" class="bi bi-trash deleteAnimation"></i>
          </div>
          <br>
          <div>
            <i (click)="editBook($event)" class="bi bi-pencil-square editAnimation" style=" margin-left: 8px"></i>
          </div>
        </ng-container>
      </div>
    </a>
    <div class="portfolio-item-meta">
      <h5><a>{{book.bookTitle}}</a></h5>
      <p>{{bookService.getDate(book)}}@{{bookService.getHour(book)}}</p>
    </div>
  </div>
